$color-black:      #1D3557;
$color-white:      #F1FAEE;
$color-red:        #E63946;
$color-blue:       #457B9D;
$color-light-blue: #A8DADC;

.navbar, .navbar-menu {
  background-color: $color-black;
}

.navbar-burger:hover {
color: $color-red;
}

.navbar-item {
  img {
    max-height: 2.28em;
  }
}

.navbar-item:hover {
  background-color: $color-white !important;
  color: $color-red !important;
  font-weight: bold; 
}

.navbar-item-active {
  background-color: $color-white;
  color: $color-red !important;
  font-weight: bold; 
}

.section {
  padding: 2em 1.5em 0 1.5em;

  @media only screen and (min-width: 769px) {
    margin-bottom: 6em;
  }
}

.footer {
  background-color: $color-black;
  padding: 2em 1.5em 2em 1.5em;
}

.is-256x256 {
  width:  256px;
  height: 256px;
}