$color-black:      #1D3557;
$color-white:      #F1FAEE;
$color-red:        #E63946;
$color-blue:       #457B9D;
$color-light-blue: #A8DADC;
$font-roboto: 'Roboto', sans-serif;

.c-column {
  .card {
    margin-bottom: 1em;
  }
}

#c-section-about-me {
  .image {
    margin: 0 auto 1em auto;
  }

  .level {
    justify-content: center;
  }

  .c-level-icon {
    flex-grow: 0;
    width: 2em;
  }
  
  .c-level-info {
    flex-grow: 0;
    width: 12em;
    justify-content: flex-start;
  }

  .c-about-me-icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

#c-section-projects {
  .c-card-grid {
    display: grid;
    grid-template-columns: 40% auto;
    grid-auto-rows: auto;

    .c-card-grid-panel-left {
      grid-column-start: 1;
      grid-column-end:   2;

      .image {
        width:  100%;
        height: 100%;

        img {
          width:  100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .c-card-grid-panel-right {
      grid-column-start: 2;
      grid-column-end:   3;
      overflow: auto;
      word-break: break-word;

      
      .content {
        width:  100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
      }

      .c-tags {
        margin-bottom: 1em;

        .tag {
          margin: 0 0.5em;
        }
      }
    }
  }
}
