$color-black:      #1D3557;
$color-white:      #F1FAEE;
$color-red:        #E63946;
$color-blue:       #457B9D;
$color-light-blue: #A8DADC;
$font-roboto: 'Roboto', sans-serif;

html, body {
  font-family: $font-roboto !important;
  background-color: $color-white;
  overflow-x: hidden;
}

.c-text-color-white {
  color: $color-white;
}

.c-text-color-red {
  color: $color-red;
}

.c-text-color-blue {
  color: $color-blue;
}

.c-text-color-black {
  color: $color-black !important;
}

.c-text-color-black-faded {
  color: rgba($color-black, 0.8);
}

.c-text-color-black-faded-more {
  color: rgba($color-black, 0.6);
}

.c-text-underline {
  border-bottom: 0.05em solid $color-red;
}

.c-button {
  background-color: $color-black;
  border-color: transparent;
}

.c-button:hover {
  background-color: rgba($color-black, 0.9);
  border-color: transparent;
  color: $color-white;
}

.c-button:active, .c-button:link, .c-button:visited {
  color: $color-white;
}

.c-column {
  .card {
    margin-bottom: 1em;
  }
}

#c-section-home {
  .image {
    margin: 0 auto;
  }
}

#c-section-about-me {
  .image {
    margin: 0 auto 1em auto;
  }

  .level {
    justify-content: center;
  }

  .c-level-icon {
    flex-grow: 0;
    width: 2em;
  }
  
  .c-level-info {
    flex-grow: 0;
    width: 12em;
    justify-content: flex-start;

    p {
      line-height: 1em;
    }
  }

  .c-about-me-icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

    .icon {
      margin: 0.2em;
    }
  }

  .box {
    background-color: $color-white;
  }
}

#c-section-projects {
  .card {
    background-color: $color-white;
  }

  .c-card-grid {
    display: grid;
    grid-template-columns: 40% auto;
    grid-auto-rows: auto;

    .c-card-grid-panel-left {
      grid-column-start: 1;
      grid-column-end:   2;

      .image {
        width:  100%;
        height: 100%;

        img {
          width:  100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .c-card-grid-panel-right {
      grid-column-start: 2;
      grid-column-end:   3;
      overflow: auto;
      word-break: break-word;

      
      .content {
        width:  100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
      }

      .c-tags {
        margin-bottom: 1em;

        .tag {
          color: $color-white;
          background-color: $color-black;
          margin: 0 0.5em;
        }
      }

      .c-text-color-blue:hover {
        color: $color-red;
      }
    }
  }
}

#c-section-contact {
  margin-bottom: 12em;
  padding-bottom: 12em;

  .c-input-error {
    border-color: $color-red;
  }

  .c-text-color-red {
    color: $color-red;
  }
}